.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  font-size: 10px;
  color: white;
  margin-left: 40px;
}

.linkContainer {
  margin-right: 40px;
}

.link {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}