.card {
  color: #fff;
  border: 1px solid #fff;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.1);
}

.label {
  margin-top: 15px;
  font-weight: normal;
}

.icon, .next {
  font-size: 60px;
}

.next {
  color: #000;
  background: #fff;
  border-radius: 200px;
  border: 0.1rem solid #fff;
}

.container {
  width: 80%;
  margin: 15px 0;
  height: 6px;
  background-color: #fff;
  border-radius: 20px;
}

.progress {
  height: 6px;
  border-radius: 20px;
  transition: ease-in-out 2s;
}

@media (max-height: 700px) {
  .card {
    width: 120px;
    height: 120px;
    border-radius: 36px;
  }

  .label {
    margin-top: 10px;
    font-size: 15px;
  }

  .icon, .next {
    font-size: 36px;
  }
}

@media (max-width: 500px) {
  .card {
    width: 80px;
    height: 80px;
    border-radius: 26px;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.1);
  }

  .label {
    margin-top: 0px;
    font-size: 0px;
  }

  .icon, .next {
    font-size: 45px;
  }
}

@media (min-width: 500px) and (max-width: 560px) {
  .card {
    width: 120px;
    height: 120px;
    border-radius: 40px;
  }

  .label {
    margin-top: 10px;
    font-size: 15px;
  }

  .icon, .next {
    font-size: 40px;
  }
}

@media (min-width: 560px) and (max-width: 640px) {
  .card {
    width: 140px;
    height: 140px;
    border-radius: 42px;
  }

  .label {
    margin-top: 10px;
    font-size: 17px;
  }

  .icon, .next {
    font-size: 42px;
  }
}

@media (min-width: 640px) and (max-width: 768px) {
  .card {
    width: 160px;
    height: 160px;
    border-radius: 48px;
  }

  .label {
    margin-top: 10px;
    font-size: 20px;
  }

  .icon, .next {
    font-size: 48px;
  }
}