.transparent, .blur, .small{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  transition: ease-in-out 0.5s;
}

.linkContainer {
  display: flex;
  list-style: none;
  margin-right: 40px;
}

.link, .icon {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  transition: ease-in-out 300ms;
}

.blur {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
}

.link:hover {
  opacity: 0.7;
}

.link:active {
  color: #8864a4;
  opacity: 1;
}

.icon {
  font-size: 0;
  visibility: hidden;
  margin-left: 0;
  cursor: pointer;
}

@media (max-width: 600px) {
  .transparent{
    transition: 0s;
  }

  .linkContainer {
    margin-right: 10px;
  }

  .link {
    font-size: 0;
    visibility: hidden;
    margin-left: 0;
    transition: 0s;
  }

  .icon {
    visibility: visible;
    font-size: 32px;
  }

  .icon:active {
    color: #8864a4;
  }
}