.navbar, .blur{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  transition: ease-in-out 0.5s;
}

.linkContainer {
  margin-right: 40px;
}

.link {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  transition: ease-in-out 300ms;
}

.blur {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
}

.link:hover {
  opacity: 0.7;
}

.link:active {
  color: #8864a4;
  opacity: 1;
}